/*The styling sheet*/
body{
    background-color: lightskyblue;
}

.nav{
    background-color: lightpink;
}

a {
    font-size: 20px;
}

.back {
    color: lime;
}

p {
    font-size: 16px;
}

img{
    width: 250px;
}

li {
    font-size: 15px;
}